# Node modules
node_modules/

# Environment variables
.env

# Uploaded files
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db